

    <h2>{{0.name}}</h2>
    <p>Capytal:{{0.capital}}</p>
    <p>Population:{{0.population}}</p>
    <p>Language:</p>
    {{#each 0.languages}}
    <ul> 
        <li>{{name}}</li>
    </ul>
    {{/each}}
    <img src={{0.flag}} alt="flag of country">

